html, body{
    margin:0;
    width:100%;
    height:100%;
}
header{
    display: flex;
    width: 100%;
    height:75px;
}
.container{
    position: absolute;
    top: 75px;
    bottom: 75px;
    width:100%;
    display: flex;
}
.top-bar{
    background-color:black;
    height:75px;
    flex:2;
}
.menu{
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 23px;;
}
.logout{
    width: 75px;
    height: auto;
    background-color: lightgreen;
}

.logout a{
height: auto;
width: 75px;

}
.login_menu{
    background-color: blue;
width: 223px;
position: absolute;
height: 326px;
top: 0;
right: 0;
z-index: -1;
opacity: 0;
}
.bottom-bar{
    background-color:black;
    height:75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-content: end;
    justify-content: end;
}

/* links */
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
  background: white;
  font-size: 1.2em;
}


/* sight part */
#container{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
#left_container{
    flex: 1;
    background-color: green;
    display: flex;
    flex-direction: column;
}
#right_container{
    flex: 4;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#top_container{
margin-bottom: 10px;
}
#bottom_container{
    flex: 2;
background-color: red;
height: 300px;
overflow: auto;
}
#chat_container{
background-color: rgba(50,160,50,0.6);
display: flex;
flex-direction: column;
flex: 1;
}
#discussion{
height: 100px;
width: 120px;
margin-bottom: 5px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
background-color: rgb(255,255,255);
overflow: auto;
}
.gameblock{
    width:100%;
    height:100%;
    background-color:grey;
    border: solid 1px black;
}
.gameblock:hover{
    background-color: lightgrey;
}
.gameblock_container{
    display: flex;
    width: 100%;
    height: 100%;
justify-content: space-around;
}
/* sight part */
#form_container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#inside_form_container{
    display:flex;
    align-self: center;
}
#left_move{

}
/* login aprt */
#loginDiv,#signInDiv,#choiceDiv{
height: 100%;
width: 100%;
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
#loginDiv,#signInDiv{
    display:none;
}
.clickable{
    background-color: blue;
    padding:1em;
}
.clickable:hover{
    background-color: lightblue;
    padding:1.1em;
}
#backButton{
    position: absolute;
    display: none;
    z-index: 100;
}
.show{
    display:flex;
    flex-direction: column;
    text-align: center;
}
#first{
    display: flex;
justify-content: center;
}
#scnd{
    display: flex;
justify-content: center;
}
#third{
    display: flex;
justify-content: center;
}
.marginL{
    margin-left: 5px;
}
.hidden{
    display:none;
}
#div1{

    position: absolute;
    background-color: pink;
    border: 3px blue dashed;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 15%;
    margin-top: 0px;
    width : 20%;
    margin-top: 5%;
    z-index: 1;
}

#div2{
    position : relative;
    background-color: pink;
    border: 3px blue dashed;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 15%;
    margin-top: 0px;
    width : 20%;
    margin-top: 5%;
}

#guild_create{
   height: 170px;
   width: 300px;
   padding-top: 20px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
   background-color: rgba(50,160,50,0.6);
   border-radius: 20px;
}

#guild_join{
   height: 200px;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   background-color: rgba(50,160,50,0.6);
   border-radius: 20px;
   overflow: auto;
   
}

.guild
{
   height:60px;
   width: 150px;
   margin-left: 30px;
}

#guildCreate
{
   width: 270px;
   margin-left: 30px;
}

.form_title
{
   font-size: 20px;
   color: rgb(30,70,150);
   width: 120px;
   margin-left: auto;
   margin-right: auto;
}

.img_logout
{
  width: 60px;
  height: 64px;
  margin-left: 7px;
  margin-top: 5px;

}

#descriptionjeu{
    position :absolute;
    margin-left: 20%;
    margin-right: auto;
    margin-top:7%;
    width : 50%;
    z-index: 2;
    padding-left: 10px;
    color : white;
    text-align: center;
    font-size: 22px;
    
}

#imagedefond{
    z-index: 1;
    position : relative;
}