html, body{
    margin:0;
    width:100%;
    height:100%;
}
header{
    display: flex;
    width: 100%;
    height:75px;
}
.container{
    position: absolute;
    top: 75px;
    bottom: 75px;
    width:100%;
}
.top-bar{
    background-color:black;
    height:75px;
    flex:2;
}
.menu{
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 23px;;
}
.login{
    width: 75px;
    height: auto;
    background-color: lightgreen;
}
.login_menu{
    background-color: blue;
width: 223px;
position: absolute;
height: 326px;
top: 0;
right: 0;
z-index: -1;
opacity: 0;
}
.bottom-bar{
    background-color:black;
    height:75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-content: end;
    justify-content: end;
}

/* links */
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
  background: white;
  font-size: 1.2em;
}


/* sight part */
#container{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
#left_container{
    flex: 1;
    background-color: green;
    display: flex;
    flex-direction: column;
}
#right_container{
    flex: 4;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#top_container{
    flex:2;
}
#bottom_container{
    flex: 2;
background-color: red;
}
.gameblock{
    width:100%;
    height:100%;
    background-color:grey;
    border: solid 1px black;
}
.gameblock:hover{
    background-color: lightgrey;
}
.gameblock_container{
    display: flex;
    width: 100%;
    height: 100%;
justify-content: space-around;
}
